<ul class="bxslider">

<% @proofs.each do |topic|%>

<li>
<iframe 
src="//www.youtube.com/embed/<%= topic.video_link %>?showinfo=0" >
</iframe>
<div class="bx-caption"><span><%= topic.name %></span></div>
<a class="btn btn-primary show-topics" href="javascript:showContent('.proofs_<%= topic.id %>');">Show Notes</a>
<div class="slider-content proofs_<%= topic.id %>">
<%=raw topic.content %>
</div>
</li>
<% end %>
<li>
<iframe 
src="//www.youtube.com/embed/<%= @subtopic.video_link %>?showinfo=0">
</iframe>
<div class="bx-caption"><span><%= @subtopic.name %></span></div>
<a class="btn btn-primary show-topics" href="javascript:showContent('.subtopic_<%= @subtopic.id %>');">Show Notes</a>
<div class="slider-content subtopic_<%= @subtopic.id %>">
<%=raw @subtopic.description %>
</div>
</li>
<% @examples.each do |topic|%>

<li>
<iframe 
src="//www.youtube.com/embed/<%= topic.video_link %>?showinfo=0">
</iframe>
<div class="bx-caption"><span><%= topic.name %></span></div>
<a class="btn btn-primary show-topics" href="javascript:showContent('.examples_<%= topic.id %>');">Show Notes</a>
<div class="slider-content examples_<%= topic.id %>">
<%=raw topic.content %>
</div>
</li>
<% end %>
</ul>
<div class="bx-wrapper" style="max-width:100%;margin:0 auto;">
<div id="full-description"></div>
</div>
<script> 
$('.bxslider').bxSlider({
  onSliderLoad: function(){ $('.slider-content').show(); $('.slider-content').hide();},	
 
  pager:false,
  video: true,
  useCSS: false,
  startSlide: <%= @proofs.size %>,
  infiniteLoop:false,
  slideMargin: 30,
  caption:true,
  onSlideNext:function(){ $('#full-description').html(''); },
  onSlidePrev:function(){ $('#full-description').html(''); },
  prevText:'<- Proofs',
  nextText:'Examples ->',
  prevImage:'',
  nextImage:''

});
function showContent(getSlidebox){
	$('#full-description').show();
	$('#full-description').removeClass('bx-viewport');
	var tmpHtml = $('#full-description').html().length;
	var slideHtml = $(getSlidebox).html();
	if(tmpHtml == 0){
		$('#full-description').addClass('bx-viewport');
		$('#full-description').html(slideHtml);
		var $target = $('html,body'); 
		$target.animate({scrollTop: $target.height()}, 5000);
		
	} else {
		$('#full-description').hide('slow').html('');		
	}
	/*$(getSlidebox).toggle();*/
}
</script>
<style>
	.slider-content{
		/*margin-top:5px;
		width:100%;*/
	display:none;		
	}
	.bxslider li{
		margin-left: -25px;
		text-align:center;
	}

	.container-center{
		width:90%;		
	}
	.slide-right-block {
	  float: left;
	  margin-left: 7px;
	  width: 70%;
	}
	.show-topics {
	  /*margin-bottom: 5px;*/
	  margin-top: 8px;
	}
	#full-description{
		width:100%;
		overflow:hidden;
		margin-left:-5px;		
	}
</style>